/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://farm5.staticflickr.com/4305/35791565090_719b6ea607_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rochester', cursive;
  letter-spacing: 4px;
  display: flex;
  align-content: stretch;
}

nav{
  font-size: .8em;
  a{
    color: black;
  }
}

p {
  font-size: 3em;
}

a:link {
  text-decoration: none;
}

.container {
  min-height: 100%;
  width: 100%;
  margin: 30px 100px;
  display: flex;
  flex-direction: column;

  #book-container {
    flex-grow: 1;
  }

  #begin-link-container{
    width: 100%;
    flex-grow: 2;
    margin: 0 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    #begin-link a {
      color: #fbf2e6;
      text-shadow: 3px 4px 2px #000;
      font-size: 2em;
    }
  }
}
