.chapter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text{
  text-align: center;
  margin: 100px 0;
}

.form-select {
  font-size: 2em;
}

.chapter-text{
  margin: 40px 0;
}

input.save-button {
  font-size: 2em;
}

.user-selected-image {
  margin-top: 30px;
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.25)
}

.chapter-navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

a.chapter-navigation-link {
  font-size: 2em;
  width: 250px;
  display: inline;
}

.centered {
  display: flex;
  justify-content: center;
}

#the-end-text {
  margin: 30px 0;
  h1 {
    font-size: 9em;
  }
}
